
.tagline{
    width: 1,440px;
    height: 588px;
}



.tagline img  {
    width: 100%;
    height: 100%;
    gap: 10px;
    background-size: cover;
    }

#cta2{
    display: none;
}


@media screen and (max-width: 430px){
    .tagline {
        width: 100%;
    }

    #cta2{
        display: block;
    }

    #cta{
        display: none;
    }

    .tagline img {
        width: 100%;
    }

}
