

.long{
    width: 1,440px;
height: 620px;
gap: 50px;
opacity: 0px;
background: #000000;
display: flex;
justify-content: center;
align-items: center;


padding-left: 150px;
padding-right: 100px;


}

.image2{
    width: 503.5px;
height: 428px;
padding: 10px 0px 0px 0px;
gap: 10px;
border-radius: 12px 0px 0px 0px;
opacity: 0px;
}

.image2 img{
    width: 480px;
    height: 438px;
}


.container3{
    
opacity: 0px;
color: aliceblue;
}

.long-headline{
    
gap: 0px;
opacity: 0px;
font-family: Inter;
font-size: 24px;
font-weight: 900;
line-height: 32px;
letter-spacing: -0.10000000149011612px;
text-align: left;
color: #FFFFFF;

}

.separated{
    
gap: 0px;
opacity: 0px;
font-family: Inter;
font-size: 16px;
font-weight: 400;
line-height: 24px;
letter-spacing: 0.10000000149011612px;
text-align: left;
color: #FFFFFF;

}


.liste{
    padding: 0px 0px 0px 20px;
    width: Fixed (445px)px;
height: Hug (24px)px;
gap: 12px;
opacity: 0px;

}

.items {
    width: 429px;
height: 24px;
gap: 0px;
opacity: 0px;
font-family: Inter;
font-size: 16px;
font-weight: 400;
line-height: 24px;
letter-spacing: 0.10000000149011612px;
text-align: left;
color: #FFFFFF;

}


@media screen and (max-width: 430px){
    .long{           
        gap: 0px;
        opacity: 0px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0;

    }

    .container3{
        width: 350px;
    opacity: 0px;
    color: aliceblue;
    
    }
    
    .image2 {
        width: 350px;
        height: 221px;
        padding: 10px;
        
        border-radius: 12px 0px 0px 0px;
        opacity: 0px;
    }
    
    .image2 img {
        
        width: 100%;
        height: 221px;
    }

    .long-headline{
        width: 327px;
        height: 64px;
        gap: 0px;
        opacity: 0px;
        font-family: Inter;
        font-size: 16px;
        font-weight: 900;
        line-height: 32px;
        letter-spacing: -0.10000000149011612px;
        text-align: center;
        }

    .separated{
        width: 327px;
        height: 72px;
        gap: 0px;
        opacity: 0px;

        font-family: Inter;
        font-size: 14px;
        font-weight: 400;
        line-height: 24px;
        letter-spacing: 0.10000000149011612px;
        text-align: center;

    }

    .items{
        width: 100%;
        font-family: Inter;
font-size: 14px;
font-weight: 400;
line-height: 24px;
letter-spacing: 0.10000000149011612px;
text-align: center;

    }

    .liste{
        width: Fill (327px)px;
        height: Hug (102px)px;
        gap: 2px;
        opacity: 0px;
    }
        
    
}